.App {
  text-align: center;
  border: 4px solid #bbb;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
}
.App .todo {
  font-size: 35px;
  color: rgb(189, 35, 117);
  font-family: 'Rubik Doodle Shadow';
}
.todo-- {
  display: flex;
  flex-direction: column;
}
.todo-- input {
  border-radius: 7px;
  padding: 5px;
  border-color: rgb(189, 35, 117);
  margin-top: 20px;
}
.todo-- ul li {
  list-style-type: "✍🏻";
  width: 170px;
  overflow-wrap: break-word;
  cursor: pointer;
  position: relative;
  right: 20px;
}
.todo-- button {
  background-color:  rgb(189, 35, 117);
  border: none;
  color: white;
  padding: 5px;
  margin-top: 5px;
  border-radius: 7px;
}
.dash {
  text-decoration: line-through;
}
.item {
  display: flex;
  justify-content: space-between;
}
.item span {
  cursor: pointer;
}